[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-wtf = "*"
flask-script = "*"
flask-migrate = "*"
python-dotenv = "*"
pep257 = "*"
requests = "*"
flask-login = "*"
jwt = "*"
flask-restful = "*"
pbr = "*"
six = "*"
psycopg2-binary = "*"
flask-bootstrap = "*"
wtforms = "*"
email-validator = "*"
numpy = "*"
pandas = "*"
crate = "*"
flask-jwt-extended = "*"
flask-cors = "*"
redis = "*"
rq = "*"
flask-httpauth = "*"
Jinja2 = "*"
flask-testing = "*"
certifi = "*"
pytest = "*"
flake8 = "*"
pytest-cov = "*"
python-coveralls = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
